# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.gitignore
.idea/workspace.xml
Web/.DS_Store
Web/__init__.pyc
Web/__pycache__/
Web/api/__init__.pyc
Web/api/__pycache__/
Web/api/v1/Asset.pyc
Web/api/v1/Department.pyc
Web/api/v1/__init__.pyc
Web/api/v1/__pycache__/
Web/controls/Home.pyc
Web/controls/User.pyc
Web/controls/__init__.pyc
Web/controls/__pycache__/
Web/models/Asset.pyc
Web/models/AssetCategory.pyc
Web/models/Department.pyc
Web/models/ManagerType.pyc
Web/models/Menu.pyc
Web/models/Supplier.pyc
Web/models/User.pyc
Web/models/__init__.pyc
Web/models/__pycache__/
Web/services/MenuService.pyc
Web/services/__init__.pyc
Web/services/__pycache__/
Web/static/.DS_Store
Web/static/js/.DS_Store
"\350\265\204\344\272\247\346\270\205\345\215\225.xls"
